div.filebrowser-container { display: none; }
div.filebrowser * { outline: 0; }
div.filebrowser a img { border: 0 }

div.filebrowser {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	border: 1px solid #bebebe;
	background: #eee;
	
	position: absolute;
	z-index: 1001;
	width: 800px;
	height: 450px;
}

div.filebrowser div.filebrowser-menu {
	position: absolute;
	height: 30px;
	left: 30%;
	width: 70%;
	bottom: 0;
	line-height: 30px;
	
	border-top: 1px solid #bebebe;
	background: url(../Images/menu.png) repeat-x;
}

div.filebrowser button {
	height: 22px;
	margin: 4px 5px;
	
	color: #333;
	text-shadow: #eee 1px 1px 1px;
	
	background: url(../Images/button.png) repeat-x;
	border: 1px solid #a1aeb9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div.filebrowser-menu button {
	float: right;
}

div.filebrowser-menu button.disabled {
	color: #666;
	text-shadow: none;
	background: url(../Images/button_disabled.png) repeat-x;
	border-color: #bababa;
}

div.filebrowser-menu div.loader {
	float: left;
	width: 16px;
	height: 16px;
	margin: 8px 0;
	background: url(../Images/loader.gif) no-repeat;
}

div.filebrowser ul {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.8em;
	overflow: auto;
	overflow-x: hidden;
}

div.filebrowser ul li {
	list-style-image: none;
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 21px;
}

div.filebrowser ul.filebrowser-browser {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 30%;
	
	border: 0;
	border-right: 1px solid #bebebe;
	background: url(../Images/filelist.png) repeat-x #c1c7cf;
}

div.filebrowser ul li span.fi {
	height: 21px;
	padding-left: 5px;
	color: #000;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

div.filebrowser ul li span.fi span {
	display: block;
	width: 100%;
}
div.filebrowser ul li:hover span.fi span {
	width: 68%;
	overflow: hidden;
}

div.filebrowser ul li span.dir {
	background-color: transparent;
}

div.filebrowser ul li span.droppable {
	background-color: #99b7e7;
}

ul.filebrowser-browser a, ul.filebrowser-browser span {
	position: relative;
}

div.filebrowser ul li a.selected, div.filebrowser ul li span.selected {
	background: url(../Images/filelist_selected.png) repeat-x;
	color: #eee;
	outline: none;
}

div.filebrowser ul li img {
	display: block;
	float: left;
	margin: 3px 3px 0 0;
}

div.filebrowser ul li img.browser-icon {
	float: right;
}

div.filebrowser span.notice {
	position: absolute;
	bottom: 16px;
	left: 16px;
}

div.filebrowser div.filebrowser-close {
	position: absolute;
	right: -10px;
	top: -10px;
	height: 20px;
	width: 20px;
	
	cursor: pointer;
	background: url(../Images/button.png) repeat-x;
	border: 1px solid #a1aeb9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
div.filebrowser div.filebrowser-close img {
	padding: 2px;
}

div.filebrowser-infos {
	position: absolute;
	left: 30%;
	top: 0;
	width: 70%;
	line-height: 1.6em;
	overflow: auto;
}

div.filebrowser-head {
	height: 32px;
	overflow: hidden;
}

img.filebrowser-icon {
	float: left;
	margin: 10px 12px;
}

div.filebrowser h1 {
	margin: 0;
	padding: 0;
	height: 32px;
	line-height: 32px;
	background: url(../Images/h1.png) repeat-x 0 15px;
	
	color: #333;
	font-size: 20px;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
}

div.filebrowser h2 {
	margin: 0;
	border-top: 1px solid #bebebe;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0 5px 5px;
	clear: both;
}

div.filebrowser dl {
	margin-bottom: 5px;
	width: 100%;
	clear: both;
	overflow: auto;
}

div.filebrowser dt, div.filebrowser dd {
	float: left;
	line-height: 20px;
	font-size: 11px;
}

div.filebrowser dt {
	clear: both;
	width: 22%;
	margin-left: 5%;
	font-weight: bold;
}

div.filebrowser dd {
	white-space: nowrap;
	overflow: auto;
}

div.filebrowser div.margin {
	margin-left: 15px;
}

div.filebrowser dd.filebrowser-dir a.icon {
	border: 1px solid #bebebe;
	padding: 2px 5px 2px 20px;
	text-decoration: none;
	background: #eee url(../Images/Icons/dir.png) 2px 0 no-repeat;
	color: #000;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.filebrowser dd.filebrowser-dir a.selected,
div.filebrowser dd.filebrowser-dir a.icon:hover {
	text-decoration: none;
	background-color: #fff;
}

div.filebrowser dd.filebrowser-dir a.selected {
	cursor: default;
}

div.filebrowser-preview {
	margin-top: 5px;
}

div.filebrowser-preview img.preview {
	margin: 0 auto 1em;
	display: block;
	max-height: 100px;
}

div.filebrowser-preview ul, div.filebrowser-preview div.textpreview {
	border: 1px solid #bebebe;
	background: #fff;
	
	padding: 2px;
	margin: 1em auto;
	
	width: 490px;
	height: 205px;
	overflow: auto;
}

div.filebrowser-preview div.textpreview {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
}

div.filebrowser-preview div.object {
	width: 300px;
	margin: 0 0 1em 190px;
}

div.filebrowser-container img.browser-add {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 1010;
}