/* UPLOAD */
.progress {
	background: white url(../Assets/progress.gif) no-repeat;
	background-position: 50% 0;
	margin-right: 0.5em;
}

.mime-icon {
	display: block;
	float: left;
	margin-right: 5px;
}

.file-cancel {
	cursor: pointer;
	float: right;
}



div.filebrowser div.uploader {
	margin: 0 10px 1em;
}

div.filebrowser div.uploader ul li span.file-info {
	display: none;
	padding-left: 20px;
}

div.filebrowser div.uploader ul li span.failed {
	color: #b00;
}

div.filebrowser div.uploader ul li span.file-size {
	display: none;
}

div.filebrowser div.uploader ul li.file a {
	background-color: #fff;
}

div.filebrowser div.uploader button {
	clear: none;
	margin: 0;
}

a.file-success {
	background-color: #80bb29;
}


/* GALLERY */
div.filebrowser-gallery ul li {
	list-style-image: none;
	list-style-type: none;
	list-style: none;
}
div.filebrowser-gallery ul {
	position: relative;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #000;
	background: #FFF;
	line-height: 1.8em;
	overflow: auto;
	overflow-x: hidden;
}
div.filebrowser-gallery {
	font-family: Tahoma, sans-serif;
	border: 1px solid #000;
	background: #F3F3F3;
	position: absolute;
}

div.filebrowser-gallery {
	z-index: 1000;
	width: 180px;
	height: 400px;
	display: none;

	border-left: 0;

	-moz-border-radius-topright: 10px;
	-webkit-border-radius-topright: 10px;
	border-radius-topright: 10px;

	-moz-border-radius-bottomright: 10px;
	-webkit-border-radius-bottomright: 10px;
	border-radius-bottomright: 10px;
}

div.filebrowser-gallery ul {
	width: 88%;
	height: 94%;

	margin: 5% 0 0 4%;
	padding: 1%;
}

div.filebrowser-gallery ul li {
	float: left;
	width: 49%;
	overflow: hidden;
	margin: 0;
	list-style: none;

	background: url(../Images/spinner.gif) center center no-repeat;
}

div.filebrowser-gallery ul li img {
	padding: 2px;
	width: 70px;
	height: 52px;
	cursor: pointer;
}

div.filebrowser-wrapper {
	font-family: Tahoma, sans-serif;
	border: 1px solid #000;
	background: #F3F3F3;
	position: absolute;
	z-index: 1099;
	width: 220px;
	height: 250px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.filebrowser-wrapper div.img {
	width: 212px;
	height: 162px;
	margin: 5px 3px;

	background: url(../Images/imgBG.png) no-repeat;
}

div.filebrowser-wrapper span {
	margin: 3px 0 0 8px;
	display: block;
}

div.filebrowser-wrapper input {
	margin: 3px 0 0 7px;
	width: 88%;
}

div.filebrowser-wrapper button {
	margin: 3px;
}

div.filebrowser-wrapper img.filebrowser-delete {
	position: absolute;

	z-index: 1101;
	right: -7px;
	top: -7px;
	width: 16px;
	height: 16px;

	cursor: pointer;
}

span.gallery-span {
	float: left;
	font-weight: bold;
	margin: 9px;
}

img.filebrowser-clone {
	cursor: pointer;
}