/* TIP */
.tip-base {
	width: 200px;
}

.tip {
	z-index: 1201;
}
 
.tip-title {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 12px;
	line-height: 21px;
	text-align: center;
}
 
.tip-text {
	display: none;
}

/* UPLOAD */
.progress {
	background: white url(../Assets/progress.gif) no-repeat;
	background-position: 50% 0;
	margin-right: 0.5em;
}

.mime-icon {
	display: block;
	float: left;
	margin-right: 5px;
}

.file-cancel {
	cursor: pointer;
	float: right;
}