div.filebrowser ul li, div.filebrowser-gallery ul li {
	list-style-image: none;
	list-style-type: none;
	list-style: none;
}

a.filebrowser-close {
	background-image: url(../Images/browser_close.gif);
}

div.filebrowser dd.filebrowser-dir a.icon {
	background-image: url(../BrowserIcons/dir.gif);
}

div.filebrowser-gallery ul {
	margin: 5px 0 0 5px;
}